/* _kleo-post-item-overrule.scss */

/* body.single-post */
body.single-post {
    #main {
        .template-page {
            background: $color_bg-content;

            &.tpl-right {
                .wrap-content {
                    @media (min-width:$bp-md){
                        padding-right:$offset-g1;
                    }
                    @media (max-width:$bp-md-1){
                        padding-right:0;
                    }                

                    > .amcust_page-title-container.amcust-title-rwd-top {
                        margin-bottom:$offset-g1;
                        @media (min-width:$bp-md){
                            display:none;
                        }
                    }

                    > article.post {

                        > .article-meta {
                            > .post-meta {
                                margin-bottom:$offset-g1;
                                color:$color_hyperlink-text-muted;

                                > .amcust_categoryLink {
                                    display:none;
                                }

                                > small {         
                                    > a {
                                        @extend .a-muted;

                                        > .entry-date {
                                            @media (min-width:$bp-md){
                                                font-size:16px;
                                            }
                                        }
                                    }          

                                    &.meta-author {
                                        > a > img.avatar {
                                            width:$offset-g4;
                                            height:$offset-g4;
                                            margin-bottom:$offset-1;

                                            @media (max-width: $bp-md-1){
                                                width:$offset-g2;
                                                height:$offset-g2;
                                                margin-right:$offset-0-5;                                    
                                            }
                                        }
                                    }
                                    /* [END] &.meta-author */  
                                }
                                /* [END] small */                
                            }
                            /* [END] .post-meta */
                            
                        }
                        /* [END] .article-meta */

                        > .article-media {
                            margin-bottom:$offset-1;
                        }

                        > .article-content {

                            .table-item-spec {
                                display: block;
                                width: 100%;
                                float: left;
                                margin: $offset-g2 0;
                                @media (max-width:$bp-xs-1) {
                                    margin-top:$offset-g1;
                                }

                                &.with-img {
                                    .img-wrap {
                                        float:left;
                                        width:30%;
                                        img {
                                            width:100%;
                                        }

                                        @media (max-width:$bp-xs-1) {
                                            width:100%;
                                            text-align:center;
                                            margin:0 0 $offset-g1 0;

                                            img {
                                                width:40%;
                                                margin:0 auto;
                                            }
                                        }
                                        
                                    }
                                    table.item-spec {
                                        float:left;
                                        width:60%;
                                        width:calc(70% - #{$offset-g1});
                                        margin-left:$offset-g1;
                                        @media (max-width:$bp-xs-1) {
                                            width:100%;
                                            margin-left:0;
                                        }
                                    }
                                }
                            }

                            table.item-spec {
                                width:100%;
                                margin:0;                             

                                tr {
                                    td {
                                        padding:$offset-1;

                                        &:first-child {
                                            padding-left:0;
                                        }

                                        p {
                                            &:first-child {
                                                margin-top:0;
                                            }
                                        }
                                    }
                                }
                            }

                            > p:first-of-type {
                                margin-top: 0;
                            }

                            > .amcust_page-title-container {
                                margin-top:$offset-g1;

                                @media (max-width:$bp-md-1){
                                    display:none;
                                }
                            }
                        }
                    }
                    /* [END] > article.post */
                }
            }
            /* [END] &.tpl-right */
        }
        /* [END] .template-page */

        .sidebar.sidebar-main.sidebar-right {
            > .inner-content.widgets-container {
                @media (max-width:$bp-md-1) {
                    padding-left:0;
                }
            }    

            img {
                margin-bottom:$offset-g1;
                
                @media (min-width:$bp-xs) and (max-width:$bp-sm-1) {
                    max-width: 300px;
                }                
            }
        }
    }
}
/* [END] body.single-post */

#main {
    .amcust-wrap-thumbs {
        margin:$offset-g3 0 0 0;
        text-align:center;

        ul.ul-thumbnails {
            list-style:none;
            margin:0;
            padding:0;
            text-align:center;

            > li {
                width:100px;
                @media (max-width: $bp-xs-1){
                    width:30%;
                }
                display:inline-block;
                margin:0 1px;
                padding:0;

                > a {
                    display:block;
                    float:left;
                    width:100%;
                    position:relative;          

                    > img {
                        width:100%;
                        height:auto;
                    }
                }
            }
            /* [END] li */
            
            &.has-5-thumbs {
                > li {
                    width:19%;
                    width: calc(20% - 2px);
                }
            }

            &.has-4-thumbs {
                > li {
                    width:24%;
                    width: calc(25% - 2px);
                }
            }

            > li {
                &:first-child {
                    margin-left:0;
                }
                &:last-child {
                    margin-right:0;
                }        
            } 
        }
        /* [END] ul.ul-thumbnails */
    }

    article .article-meta {
        @media (min-width: $bp-md) {
            width: 170px;
        }
    }
    /* [END] post-left */

    .with-meta .article-media,
    .with-meta .article-media,
    .with-meta .article-content,
    .with-meta .article-content,
    #comments,
    #comments-list,
    .share-links {
        margin-left: 200px;
        
        .comment-respond {
            margin-left:0;
        }

        @media (max-width: $bp-md-1) {
            margin-left:0;
            width:100%;
        }    
    }
    /* [END] post-right */
}