/* _kleo-btn-overrule.scss */

#main {
    .container-wrap {
        .container {

            .template-page {
                .wrap-content {
                    .container {

                    }

                    article.post {

                    }
                    /* [END] article.post */
                }
            }

            .sidebar {
                .widget.widget_tag_cloud {
                    .tagcloud {
                        > a {                        
                            @include btn-base-border();
                            @include btn-sm();
                            margin:0;
                            padding:5px;
                            @include border-radius(0px);
                            border-width:1px;
                            text-transform:lowercase;
                        }                    
                    }                
                }
                /* [END] widget_tag_cloud */
            }
            /* [END] .sidebar */

            /* content dividing line & title */
            /* ------ SHARE THIS ------ */
            .hr-title.hr-long {
                border-width:2px;
                border-color:$color_layout-border-strong;
                margin-top:$offset-1;
                margin-bottom:$offset-1;

                > abbr {
                    color:$color_layout-border-strong;
                    font-weight:bold;
                }
            }
            /* [END] .hr-title.hr-long */
        }
        /* [END] .container */
    }
    /* [END] .container-wrap */
}
/* [END] main */

#buddypress #message-threads .button.confirm {
    @include btn-base-border();
    @include btn-color-delete();
    @include btn-sm();
}

/* MEMBER PROFILE PAGE BUTTONS */

#buddypress div#item-nav ul li {
    a {
        text-decoration:none;
        color:$color_button-text;
        &:before {
            color:$color_hyperlink-text;
        }

        span.count {
            background:$color_hyperlink-text;
            color:$color_priority-text;
        }

        span.no-count {
            display:none;
        }

        &:hover {
            color:$color_button-text-hover;

            &:before {
                color:$color_hyperlink-text-hover;
            }

            span.count {
                background:$color_button-text-hover;
            }
        }
        
    }

    &.current,
    &.selected {
        a {
            color:$color_hyperlink-text-current;
            &:before {
                color:$color_hyperlink-text-current;
            }

            span.count {
                background:$color_hyperlink-text-current;
            }
        }
    }

    &.tabdrop .dropdown-menu {
        border:2px solid $color_button-border;

        li {
            a {
                &:before {
                    color:$color_hyperlink-text;
                }

                span {
                    background:$color_hyperlink-text;
                    color:$color_priority-text;
                }

                &:hover {
                    background:transparent;
                    color:$color_button-text-hover;

                    &:before {
                        color:$color_button-text-hover;
                    }
                    
                    span {
                        background:$color_button-text-hover;
                    }
                }
            }
        }    
    }
    /* [END] &.tabdrop */
    
}

#buddypress div.item-list-tabs ul li.selected a span,
#buddypress div.item-list-tabs ul li.current a span {

}

#buddypress table.notifications a.primary, #buddypress table.notifications a.secondary {
    &.delete {
        color:$color_danger;
    }
}

#buddypress #item-body form#whats-new-form {
    @include whats-new-form();
}
/* [END] MEMBER PROFILE PAGE BUTTONS */