/* _kleo-post-items-overrule.scss */

#main {

    article.post-item {

        > .post-content {
            border:1px solid $color_layout-border;

            > .post-image {
                > a {
                    > span.hover-element {
                        i {
                            // font-size:40px;
                            color:white !important;// +
                        }
                    }
                }
            }
            /* (END) .post-image */

            > .post-header {
                > .post-meta {
                    margin-bottom: $offset-g1;

                    > small {                    
                        line-height:$offset-g2;

                        &.meta-author {
                            > a > img.avatar {
                                width:$offset-g2;
                                height:$offset-g2;
                                margin-right:$offset-0-5;

                                // @media (max-width: $bp-md-1){
                                //     width:$offset-g2;
                                //     height:$offset-g2;                                    
                                // }
                            }
                        }
                        /* (END) &.meta-author */  
                    }
                    /* (END) small */                
                }
                /* (END) .post-meta */
            }
            /* (END) .post-header */

            > .post-info {

            }
            /* (END) .post-info */

            > .post-footer {
                /* remove underline from like icon */
                a.item-likes {
                    text-decoration: none;

                    &:hover {
                        text-decoration: none;

                        > span {
                            text-decoration: underline;
                        }

                        &:before {
                            text-decoration: none !important;
                        }
                    }
                }
            }
            /* (END) .post-footer */
        }
        /* (END) .post-content */

        .article-meta {
                      
        }
        /* END) article-meta */

        .article-media {
            @media (max-width: $bp-md-1){
                margin-bottom: $offset-g1;
            }
        }

        &.category-books {
            .post-title {
                border-color:$color_accent-books;
            }
        }
        /* (END) &.category-books */

        &.category-news {
            .post-title {
                border-color:$color_accent-news;
            }
        }
        /* (END) .category-news */

        &.category-quotes {
            .post-content {
                background: $color_accent-quotes;

                a.item-likes {
                    color: white !important;

                    > span {
                        color: white !important;
                    }

                    &:before {
                        color: white !important;
                    }

                    &:hover {
                        > span {
                            color: white !important;
                        }
                    }
                }
            }
        }
        /* (END) &.category-quotes */

        .post-content {
            .post-header {
                h3.post-title.entry-title {
                    &:hover {
                        border-color: $color_hyperlink-text-hover
                    }

                    > a:hover {
                        color: $color_hyperlink-text-hover;
                    }
                }
            }
            .inner-content {
                margin-right: $offset-g1;
            }
        }
        

        .post-header .post-meta,
        .post-footer {
            a {
            // @extend .g_hyperlink-base-hover;
            }
        }

    }
}
/* (END) main */

.buddypress .main-color .kleo-online-status.high-bg {
    background-color:#009E1C;
}

#buddypress #friend-list div.action .generic-button > a,
#buddypress #member-list div.action .generic-button > a,
#buddypress #members-list div.action .generic-button > a {
    @extend .g_btn-base;    
    
    &:not(.remove) {
        @extend .g_btn-base-border;
    }    
    
    &.add {
        //@include btn-color-priority();;
        // @include btn-color-priority();
        @include btn-color-priority();
        // @include btn-lg();
    }
    
    &.remove,
    &.add,
    &.send-message {
        @include btn-sm();
    }
    
}

.article-content section.container-wrap .posts-load-more .btn {
    @extend .g_btn-base-border;
    @include btn-color-priority();
}

.article-content section.container-wrap .posts-load-more .btn,
#buddypress div.generic-button a.add,
.bp-full-width-profile div.generic-button a.add,
#buddypress div.generic-button a.accept,
#buddypress div.generic-button a.join-group,
.rtm-primary-button,
.rtmedia-container .drag-drop .start-media-upload,
.rtmedia-activity-container .drag-drop .start-media-upload,
#buddypress .rtmedia-container .rtmedia-uploader .drag-drop .start-media-upload {    
    // @extend .g_btn-base-border;
    // @include btn-color-priority();;
}