/* _kleo-overrule.scss */

a,
a > span,
a > i,
a.url,
.main-color a, 
.main-color .form-control:focus,
.main-color .wrap-canvas-menu .widget_nav_menu,
.main-color #buddypress a.button.unfav,
.main-color .widget_bp_groups_widget .item-options a.selected,
.main-color .widget_bp_core_members_widget .item-options a.selected,
.main-color .widget_bp_core_friends_widget .item-options a.selected,
.main-color .tabs-style-line > li.active > a,
.main-color #buddypress #profile-edit-form ul.button-nav li.current a,
.main-color .read-notifications td.notify-text a:hover,
.main-color .unread-notifications td.notify-text a:hover,
.woocommerce .main-color .widget_product_categories li.current-cat a {
	//color:#999999;
    font-weight:bold;      
}

a:hover,
a:hover > span,
a:hover > i,
a.url:hover,
.main-color a:hover, .main-color #top-social li a:hover,
.main-color .top-menu li > a:hover,
.main-color .sidebar ul li a:hover,
.main-color #buddypress .activity-list li.load-more a:hover,
.manage-members .main-color .member-name:hover,
.manage-members .main-color .member-name a:hover,
.main-color #rtm-media-options-list ul li .rtmedia-action-buttons:hover,
.woocommerce .main-color .yith-wcwl-add-to-wishlist a:hover,
.woocommerce .main-color li.product figcaption .shop-actions > a.button:hover,
.main-color .kleo-toggle-menu .quick-view:hover {
    //color: #000000;
    @extend .g_hyperlink-base-hover;
    //font-weight:bold;    
}

#main {

    .kleo-banner-slider {
        &:hover {

            .kleo-banner-prev,
            .kleo-banner-next {

                &:hover {
                    background:white;
                    color:$color_hyperlink-text-hover;

                    &:active {
                        background:$color_hyperlink-bg-active;
                        color:$color_hyperlink-text-active;
                    }
                }  

            }

        }
    }
}
/* [END] main */

/* kleo-login */
.kleo-form-modal {
    max-width: 350px;
}

#main {
    .container-wrap {
        .container {
            .sidebar {
                @media (max-width:$bp-sm){
                    @include rwd_border-content-divide('top');
                }

                .inner-content {
                    padding-left: $offset-g1;
                    @media (max-width:$bp-sm){
                        padding-left: 0px;
                    }

                    .widget.widget_media_image {
                        > img {
                            @media (max-width:$bp-xs-1){
                                width: 100%;
                            }
                        }
                    }
                }
                h4 {
                    text-transform:uppercase;
                }
                .bp-login-widget-user-links {
                    min-height:60px;//height of user avatar
                }

            }
            /* [END] .sidebar */
        }
        /* [END] .container */

        #buddypress #item-body {
            padding:$offset-g1;
        }
    }
    /* [END] .container-wrap */
}

.kleo-form-modal {
    max-width: 320px;
}

.kleo-login-modal {
    @media (max-width:$bp-xxs){
        max-width:280px;
    }
}

.items-table {
    &.post {
        width:100%;

        td {
            a {
                img.attachment-thumbnail {
                    width: 60px;
                    max-width: 60px;
                    min-width: 60px;
                    height: auto;
                }
            }            
        }
    }
}

ul.wpuf-form li .wpuf-fields .bar {
    background-color:$color-primary;
}