/* _kleo-recent-posts-overrule.scss */

#main {
    .widget {
        ul.news-widget-wrap {
            > li {
                font-size:$base-font-size;
                line-height:22px;

                small {
                    font-size:70%;
                }
            }
        }
    }

    #comments-list {
        margin-left: 0 !important;

        .activity-timeline {
            border-color:$color_layout-border-strong;
        }

        ol {
            li {
                .comment-wrap {
                    .comment-avatar {                        
                        img {
                            border-color:$color_layout-border-strong;
                            border-width:2px;
                        }
                    }
                    .comment-content {
                        border-color:$color_layout-border-strong;
                    }
                }
                
            }
        }
    }
}