/* _kleo-overrule.scss */

a,
a > span,
a > i,
a.url,
.main-color a, 
.main-color .form-control:focus,
.main-color .wrap-canvas-menu .widget_nav_menu,
.main-color #buddypress a.button.unfav,
.main-color .widget_bp_groups_widget .item-options a.selected,
.main-color .widget_bp_core_members_widget .item-options a.selected,
.main-color .widget_bp_core_friends_widget .item-options a.selected,
.main-color .tabs-style-line > li.active > a,
.main-color #buddypress #profile-edit-form ul.button-nav li.current a,
.main-color .read-notifications td.notify-text a:hover,
.main-color .unread-notifications td.notify-text a:hover,
.woocommerce .main-color .widget_product_categories li.current-cat a {
	//color:#999999;
    font-weight:bold;      
}

a:hover,
a:hover > span,
a:hover > i,
a.url:hover,
.main-color a:hover, .main-color #top-social li a:hover,
.main-color .top-menu li > a:hover,
.main-color .sidebar ul li a:hover,
.main-color #buddypress .activity-list li.load-more a:hover,
.manage-members .main-color .member-name:hover,
.manage-members .main-color .member-name a:hover,
.main-color #rtm-media-options-list ul li .rtmedia-action-buttons:hover,
.woocommerce .main-color .yith-wcwl-add-to-wishlist a:hover,
.woocommerce .main-color li.product figcaption .shop-actions > a.button:hover,
.main-color .kleo-toggle-menu .quick-view:hover {
    //color: #000000;
    @extend .g_hyperlink-base-hover;
    //font-weight:bold;    
}

/* submenus */
.main-color .navbar-nav .dropdown-menu li a,
.main-color .dropdown-menu > li > a:hover,
.main-color .dropdown-menu > li > a:focus,
.main-color .dropdown-submenu:hover > a,
.main-color .dropdown-submenu:focus > a,
.main-color .dropdown-menu > .active > a,
.main-color .dropdown-menu > .active > a:hover,
.main-color .dropdown-menu > .active > a:focus,
.main-color .wrap-canvas-menu .widget_nav_menu .offcanvas-menu .dropdown-menu > li > a {
	// color:#999999;
    // font-weight:bold;
}


.main-color .navbar-nav .dropdown-menu li a:hover,
.main-color .wrap-canvas-menu .widget_nav_menu .offcanvas-menu .dropdown-menu > li > a:hover,
.main-color .wrap-canvas-menu .widget_nav_menu .offcanvas-menu .dropdown-menu > li > a:focus {
    // color: #000000;
    // font-weight:bold;
}

#main {

    .kleo-banner-slider {
        &:hover {

            .kleo-banner-prev,
            .kleo-banner-next {

                &:hover {
                    background:white;
                    color:$color_hyperlink-text-hover;

                    &:active {
                        background:$color_hyperlink-bg-active;
                        color:$color_hyperlink-text-active;
                    }
                }  

            }

        }
    }

    #comments-list .comment-meta-actions,
    #comments-list .comment-meta-actions a {
        //@extend .g_hyperlink-base-hover;
    }

    article {

        .article-meta {
            > .post-meta {
                margin-bottom: $offset-g1;

                > small {                    
                    line-height:$offset-g2;

                    &.meta-author {
                        > a > img.avatar {
                            width:$offset-g4;
                            height:$offset-g4;
                        }
                    }    

                    @media (max-width: $bp-md-1){
                        line-height:$offset-g2;

                        &.meta-author {
                            > a > img.avatar {
                                width:$offset-g2;
                                height:$offset-g2;
                                float:left;
                                margin-right: $offset-1;
                            }
                        }
                        // margin-bottom: $offset-g1;
                    }
                }
                /* (END) small */                
            }            
        }

        .article-media {
            @media (max-width: $bp-md-1){
                margin-bottom: $offset-g1;
            }
        }

        .post-content {
            /* remove underline from like icon */
            a.item-likes {
                text-decoration: none;

                &:hover {
                    text-decoration: none;

                    > span {
                        text-decoration: underline;
                    }

                    &:before {
                        text-decoration: none !important;
                    }
                }
            }
        }
        /* (END) &.category-quote */

        &.category-books {
            .post-title {
                border-color:black;
            }
        }
        /* (END) &.category-books */

        &.category-quote {
            .post-content {
                background: $color_accent;

                a.item-likes {
                    color: white !important;

                    > span {
                        color: white !important;
                    }

                    &:before {
                        color: white !important;
                    }

                    &:hover {
                        > span {
                            color: white !important;
                        }
                    }
                }
            }
        }
        /* (END) &.category-quote */

        .post-content {
            .post-header {
                h3.post-title.entry-title {
                    &:hover {
                        border-color: $color_hyperlink-text-hover
                    }

                    > a:hover {
                        color: $color_hyperlink-text-hover;
                    }
                }
            }
            .inner-content {
                margin-right: $offset-g1;
            }
        }
        

        .post-header .post-meta,
        .post-footer {
            a {
            // @extend .g_hyperlink-base-hover;
            }
        }

    }
}
/* (END) main */


/* kleo-login */
.kleo-form-modal {
    max-width: 350px;
}

.container-wrap {
    .container {
        .sidebar {
            @media (max-width:$bp-sm){
                @include rwd_border-content-divide('top');
            }

            .inner-content {
                padding-left: $offset-g1;
                @media (max-width:$bp-sm){
                    padding-left: 0px;
                }

                .widget.widget_media_image {
                    > img {
                        @media (max-width:$bp-xs-1){
                            width: 100%;
                        }
                    }
                }
            }
            h4 {
                text-transform:uppercase;
            }
            .bp-login-widget-user-links {
                min-height:60px;//height of user avatar
            }

        }
        /* (END) .sidebar */
    }
    /* (END) .container */

    #buddypress #item-body {
        padding:$offset-g1;
    }
}
/* (END) .container-wrap */


// #buddypress #friend-list div.action .generic-button a.send-message,
// #buddypress #member-list div.action .generic-button a.send-message,
// #buddypress #members-list div.action .generic-button a.send-message {
//     @extend .g_btn-base-border;
//     @include btn-sm();
// }

.buddypress .main-color .kleo-online-status.high-bg {
    background-color:#009E1C;
}

#buddypress #friend-list div.action .generic-button > a,
#buddypress #member-list div.action .generic-button > a,
#buddypress #members-list div.action .generic-button > a {
    @extend .g_btn-base;
    
    
    &:not(.remove) {
        @extend .g_btn-base-border;
    }    
    
    &.add {
        //@include btn-color-priority();;
        // @include btn-color-priority();
        @include btn-color-priority();
        @include btn-lg();
    }
    
    &.remove,
    &.add,
    &.send-message {
        @include btn-sm();
    }
    
}

.article-content section.container-wrap .posts-load-more .btn {
    @extend .g_btn-base-border;
    @include btn-color-priority();;
}

.article-content section.container-wrap .posts-load-more .btn,
#buddypress div.generic-button a.add,
.bp-full-width-profile div.generic-button a.add,
#buddypress div.generic-button a.accept,
#buddypress div.generic-button a.join-group,
.rtm-primary-button,
.rtmedia-container .drag-drop .start-media-upload,
.rtmedia-activity-container .drag-drop .start-media-upload,
#buddypress .rtmedia-container .rtmedia-uploader .drag-drop .start-media-upload {    
    // @extend .g_btn-base-border;
    // @include btn-color-priority();;
}

.kleo-form-modal {
    max-width: 320px;
}