/* _kleo-post-items-overrule.scss */

.base-box {
    border:1px solid $color_layout-border;
    background:white;
    @include box-shadow(false);
    @include border-radius(0px);

    &:hover {
        @include box-shadow(hover);
    }
}

#main {

    article.post-item {
        background:transparent;

        > .post-content {
            @extend .base-box;

            > .post-image {
                > a {
                    > span.hover-element {
                        i {
                            color:white !important;
                        }
                    }
                }
            }
            /* [END] .post-image */

            > .post-header {
                padding:$offset-1;

                > .post-meta {
                    margin-bottom: 0;
                    color:$color_hyperlink-text-muted;

                    > .amcust_categoryLink {
                        display:block;
                        position: absolute;
                        top: -20px;
                        left: 0;                        

                        > a {
                            float:left;
                            @extend .a-blackblock;
                        }                        
                    }

                    > small {
                        line-height:$offset-g2;

                        a {
                            @extend .a-muted;
                        }

                        &.meta-author {
                            > a > img.avatar {
                                width:$offset-g2;
                                height:$offset-g2;
                                margin-right:$offset-0-5;
                            }
                        }
                        /* [END] &.meta-author */  
                    }
                    /* [END] small */                
                }
                /* [END] .post-meta */

                > h3.post-title {
                    > a {
                        @extend .a-black;
                    }
                }
            }
            /* [END] .post-header */

            > .post-info {

            }
            /* [END] .post-info */

            > .post-footer {
                border-color:$color_layout-border;

                /* remove underline from like icon */
                a.item-likes {
                    @extend .a-muted;
                    text-decoration: none;

                    &:hover {
                        text-decoration: none;

                        > span {
                            text-decoration: underline;
                        }

                        &:before {
                            text-decoration: none !important;
                        }
                    }
                }
            }
            /* [END] .post-footer */
        }
        /* [END] .post-content */

        .article-meta {
                      
        }
        /* END) article-meta */

        .article-media {
            @media (max-width: $bp-md-1){
                margin-bottom: $offset-g1;
            }
        }

        &.category-books {
            .post-title {
                border-color:$color_accent-books;
            }
        }
        /* [END] &.category-books */

        &.category-news {
            .post-title {
                border-color:$color_accent-news;
            }
        }
        /* [END] .category-news */

        &.category-quotes {
            .post-title {
                border-color:$color_accent-quotes;
            }
        }
        /* [END] .category-quotes */

        &.category-quotes {
            .post-content {
                background: $color_accent-quotes;

                .post-header {
                    padding:0;

                    .post-title.entry-title {
                        display:none;
                    }
                    .post-meta {
                        .amcust_categoryLink {
                            top:0;
                        }
                        > small,
                        > .separater {
                            display:none;
                        }
                    }
                }

                .entry-summary {
                    color:white;
                    margin:0 $offset-g1 0 25px;

                    &:before {
                        font: 160% "fontello";
                        content: "\e854";
                        color: #fff;
                        margin-left: -38px;
                        background: $color_accent-quotes;
                        padding: 7px;
                        padding-right:0;
                        float: left;
                    }

                    p {
                        color:white;
                        font-style: italic;
                    }

                    strong {
                        color: black;
                    }
                }

                .post-footer {
                    a {
                        color: white !important;

                        > span {
                            color: white !important;
                        }

                        &:before {
                            color: white !important;
                        }

                        &:hover {
                            > span {
                                color: white !important;
                            }
                        }
                    }
                    /* (END) a */
                }

                
            }
        }
        /* [END] &.category-quotes */

        .post-content {
            .post-header {
                h3.post-title.entry-title {
                    &:hover {
                        border-color: $color_hyperlink-text-hover
                    }
                    > a {
                        @extend .a-black;
                    }
                }
            }
            .inner-content {
                margin-right: $offset-g1;
            }
        }        

        .post-header .post-meta,
        .post-footer {
            a {
            // @extend .g_hyperlink-base-hover;
            }
        }

    }



    #buddypress ul#members-list {
        > li.kleo-masonry-item {
            > .member-inner-list {
                @extend .base-box;
                padding: $offset-g1;

                > .item-avatar.rounded {
                    margin:0 $offset-1 $offset-1 0;
                }
                > .item {
                    > .item-title,
                    > .item-meta {
                        margin-left:70px;
                    }
                }
                > .action {

                }
            }
        }
    }

    #buddypress #friend-list div.action .generic-button > a,
    #buddypress #member-list div.action .generic-button > a,
    #buddypress #members-list div.action .generic-button > a {
        @include btn-base();    
        
        &:not(.remove) {
            @include btn-base-border();
        }    
        
        &.add {
            //@include btn-color-priority();
            // @include btn-color-priority();
            @include btn-color-priority();
            // @include btn-lg();
        }
        
        &.remove,
        &.add,
        &.send-message {
            @include btn-sm();
        }
        
    }

    .article-content section.container-wrap .posts-load-more .btn {
        @include btn-base-border();
        @include btn-color-priority();
    }

}
/* [END] main */