.htpasswds
170726_BO
tmp
wp-admin
wp-content/cache
wp-content/plugins
wp-content/themes/kleo/style.css
wp-content/themes/kleo-child/style.css
wp-content/themes/kleo-child/amadded/assets/css/style.css
wp-content/themes/archive
wp-content/themes/kleoXXX
wp-content/themes/kleo/assets/css-combined-v0
wp-content/themes/kleo-4-2-8
wp-content/themes/kleo-child - Copy
wp-content/themes/kleo-child-cust
wp-content/themes/twentyfifteen
wp-content/themes/twentyseventeen
wp-content/themes/twentysixteen
wp-content/upgrade
wp-content/uploads
wp-content/wptouch-data
wp-content/mmr
wp-includes
wp-snapshots