.g_btn-base {
	font-size:$font-size_button;	
	text-transform:uppercase;
	line-height:$font-size_button;
	color:$color_button-text;
    font-weight:bold;
    padding: $offset-1 $offset-g1;
    background:$color_button-bg;
    text-shadow: none;
    box-shadow: none;    

    > span {
        font-size:$font-size_button;	
        text-transform:uppercase;
        line-height:$font-size_button;
        color:$color_button-text;
        font-weight:bold;
    }

    &:hover {
		color:$color_button-text-hover;
        background:$color_button-bg-hover;

        > span {
            color:$color_button-text-hover;
        }
	}
}
/* (END) .g_btn-base */

.g_btn-base-border {
	@extend .g_btn-base;
	border:1px solid $color_button-border;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius:0px;
    width: auto;
    min-width: auto;
	
	&:hover {
		border-color:$color_button-border-hover;
	}
}
/* (END) .g_btn-base-border */