form.wpcf7-form {
	
	label {width:100%;}
	input.wpcf7-submit {
		@extend	.g_btn-base-border;
	}

    label .mandatory {color:red;}

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="date"],
    input[type="password"] {
        border: 1px solid $color_button-border;
        background: white;
        height: 30px;
        line-height: 30px;
        padding: 0 $offset-1;
        width: 100%;
        margin: 5px 0 $offset-1 0;
        color: black;
    }
}
/* (END) form.wpcf7-form */