/* kleo child append */

a,
a > span,
a > i,
a.url,
.main-color a, 
.main-color .form-control:focus,
.main-color .wrap-canvas-menu .widget_nav_menu,
.main-color #buddypress a.button.unfav,
.main-color .widget_bp_groups_widget .item-options a.selected,
.main-color .widget_bp_core_members_widget .item-options a.selected,
.main-color .widget_bp_core_friends_widget .item-options a.selected,
.main-color .tabs-style-line > li.active > a,
.main-color #buddypress #profile-edit-form ul.button-nav li.current a,
.main-color .read-notifications td.notify-text a:hover,
.main-color .unread-notifications td.notify-text a:hover,
.woocommerce .main-color .widget_product_categories li.current-cat a {
	color:#999999;
    font-weight:bold;
}

a:hover,
a:hover > span,
a:hover > i,
a.url:hover,
.main-color a:hover, .main-color #top-social li a:hover,
.main-color .top-menu li > a:hover,
.main-color .sidebar ul li a:hover,
.main-color #buddypress .activity-list li.load-more a:hover,
.manage-members .main-color .member-name:hover,
.manage-members .main-color .member-name a:hover,
.main-color #rtm-media-options-list ul li .rtmedia-action-buttons:hover,
.woocommerce .main-color .yith-wcwl-add-to-wishlist a:hover,
.woocommerce .main-color li.product figcaption .shop-actions > a.button:hover,
.main-color .kleo-toggle-menu .quick-view:hover {
    color: #000000;
    font-weight:bold;
}

/* submenus */
.main-color .navbar-nav .dropdown-menu li a,
.main-color .dropdown-menu > li > a:hover,
.main-color .dropdown-menu > li > a:focus,
.main-color .dropdown-submenu:hover > a,
.main-color .dropdown-submenu:focus > a,
.main-color .dropdown-menu > .active > a,
.main-color .dropdown-menu > .active > a:hover,
.main-color .dropdown-menu > .active > a:focus,
.main-color .wrap-canvas-menu .widget_nav_menu .offcanvas-menu .dropdown-menu > li > a {
	// color:#999999;
    // font-weight:bold;
}


.main-color .navbar-nav .dropdown-menu li a:hover,
.main-color .wrap-canvas-menu .widget_nav_menu .offcanvas-menu .dropdown-menu > li > a:hover,
.main-color .wrap-canvas-menu .widget_nav_menu .offcanvas-menu .dropdown-menu > li > a:focus {
    // color: #000000;
    // font-weight:bold;
}

/* breadcrumbs */
section.container-wrap {
    background:$color_bg-content;

    &.breadcrumbs-container {
        background:$color_bg-breadcrumb;

        div.kleo_framework.breadcrumb {
            > span {
                color:black;

                &.active a {
                    color:black;
                }
            }
        }
    }
}
/* (END) breadcrumbs */

.widget_tag_cloud a {
    @extend .g_btn-base-border;
    text-transform:lowercase;
    font-size:10px;
    padding:5px;
}

.share-links span a {
    @media (min-width:$bp-sm){
        margin: 0 $offset-g1;
    }
}