/* page layout */
.template-page, .sidebar {
    padding-top: $offset-g2;
    padding-bottom: 40px;
    min-height: 1px;
}
.template-page.tpl-right{
    .wrap-content {
        padding-right: $offset-g1;
        @media (max-width:$bp-sm){
            padding-right: 0px;
        }

        .article-content {			
			.am-title-bar {
				.btn-add-to-page {
                    @extend .g_btn-base-border;
                    float:right;

                    @extend .i-left;

                    // > i.fa {
                    //     margin-right:5px;
                    // }
                }
			}
            /* (END) .am-title-bar */
        }
    }
}

.container-wrap {
    .container {
        .sidebar {
            @media (max-width:$bp-sm){
                border-top:2px solid $color_priority-border;
            }

            .inner-content {
                padding-left: $offset-g1;
                @media (max-width:$bp-sm){
                    padding-left: 0px;
                }
            }
            h4 {
                text-transform:uppercase;
            }
            .bp-login-widget-user-links {
                min-height:60px;//height of user avatar
            }
        }
        /* (END) .sidebar */
    }
    /* (END) .container */

    #buddypress #item-body {
        padding:$offset-g1;
    }
}
/* (END) .container-wrap */



/* #socket (footer) */
div#socket.socket-color {
	background:white;
	border-top:1px solid $color_layout-border;
    
    @media (max-width:$bp-sm){
        border-top:2px solid $color_layout-border-priority;
    }
}
/* (END) #socket */

article .article-meta {
    width: 170px;
}
.single .with-meta .article-media,
.posts-listing.standard-listing.with-meta .article-media,
.single .container .with-meta .article-content,
.posts-listing.standard-listing.with-meta .article-content,
#comments,
.share-links {
     margin-left: 200px;
     
     .comment-respond {
         margin-left:0;
     }

     @media (max-width: 991px) {
        margin-left:0;
        width:100%;
     }    
}
/* (END) page layout */