/*
base styles
*/

@import 'variables';
@import 'offsets';
@import 'kleo-child-append';
@import 'btns';
@import 'layout';
@import 'navbar';
@import 'contact-form';
@import 'wpuf';
@import 'the-grid';
@import 'responsive';

/* Mixins */

/* (END) Mixins */

body {
	background:$color_bg-body;

	#main {
		background:$color_bg-body;
		
		section.container-wrap {
			background:$color_bg-content;
			
			&.breadcrumbs-container {
			    background:$color_bg-breadcrumb;	
			}
		}
	}
	
}
/* (END) body */


/* kleo-login */
.kleo-form-modal {
    max-width: 350px;
}


@media only screen and (min-width : 992px) {

    
}