/* btns */
.i-right {
    i.fa {
        margin-left:$offset-1;
    }
}
.i-left {
    i.fa {
        margin-right:$offset-1;
    }
}

.g_btn-base {
    cursor: pointer;
	font-size:$font-size_button;	
	text-transform:uppercase;
	line-height:$font-size_button;
    height:auto;
	color:$color_button-text;
    font-weight:bold;
    padding: $offset-1 $offset-g1;
    background:$color_button-bg;
    text-shadow: none;
    text-align: center;
    box-shadow: none;
    @include  border-radius(0px);
    box-sizing: border-box;

    > span {
        font-size:$font-size_button;	
        text-transform:uppercase;
        line-height:$font-size_button;
        color:$color_button-text;
        font-weight:bold;
    }

    &:hover {
		color:$color_button-text-hover;
        background:$color_button-bg-hover;

        > span {
            color:$color_button-text-hover;
        }
	}
}
/* (END) .g_btn-base */

.g_btn-color-priority {
    background:$color_hdr-subnav-bg;
    color:$color_hdr-subnav;
    border-color:$color_hdr-subnav-bg;    

    &:hover {
        color:$color_hdr-subnav-hover;
        background:$color_hdr-subnav-bg-hover;
        border-color:$color_hdr-subnav-bg;

        > span,
        > i {
            color:white;
        }
    }
}

.g_btn-base-border {
	@extend .g_btn-base;
	border:1px solid $color_button-border;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius:0px;
    width: auto;
    min-width: auto;
	
	&:hover {
		border-color:$color_button-border-hover;
	}
}
/* (END) .g_btn-base-border */

.g_btn-base-border-priority {
    @extend .g_btn-base-border;
    @extend .g_btn-color-priority;
}