/* amAdded */
.row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

/* 0 < 480 */
@media (min-width: 481px){
	.tg-grid-area-top1 {display:block !important;}
    .tg-grid-area-top2 {display:none !important;}
}

/* 0 < 480 */
@media (max-width: $bp-xs){
	.tg-grid-area-top1 {display:none !important;}
    .tg-grid-area-top2 {display:block !important;}

    .hidden-xxs-down {display: none!important;}
    .visible-xxs-down {display: block!important;}
    //.col-xxs-12 { width: 100%; }
}

/* 401 - 480 */
.visible-xxs {display: none!important;}
@media (max-width: $bp-xs){
    .hidden-xxs {display: none!important;}
    .visible-xxs {display: block!important;}

    [class*="col-xxs-"] {
      position:relative;
      min-height:1px;
      padding-right:$offset-g1;
      padding-left:$offset-g1;
      float:left;	
    }

	.col-xxs-12 {
        width:100%;
    }
}