/* _breadcrumbs.scss */

/* breadcrumbs */
#main {
    section.container-wrap.breadcrumbs-container {
        background:$color_bg-breadcrumb;
        border-color: $color_breadcrumb-border;

        @media (max-width:$bp-xs-1){
            padding-top:5px;
            padding-bottom:5px;
        }        

        div.kleo_framework.breadcrumb {
            /* make sure breadcrumb does not go on 2 lines or touch far-right button */            
            @include trim-string();
            max-width: calc(100% - 100px);

            @media (max-width:$bp-sm){
                max-width: calc(100% - 40px);
            }

            > span {
                color:$color_breadcrumb-hyperlink;

                &.active {
                    
                }
            }
        }
    }
}
/* [END] breadcrumbs */