/* _footer.scss */

/* #socket (footer) */
div#socket.socket-color {
	background:$color_bg-body;
	border-top:1px solid $color_layout-border;

    a.btn.btn-disc {
        position:fixed;
        bottom:$offset-g1;
        right:$offset-g1;
        z-index:1;
        @include btn-base-pagination(false);
        @include btn-color-priority();
    }
    
    @media (max-width:$bp-sm){
        @include rwd_border-content-divide('top');
    }

    .ftr-nav-wrap {
        width:100%;
        text-align:left;

        @media (max-width:$bp-sm-1) {
            text-align:center;

            strong {
                margin:$offset-1 auto;
            }
        }        

        ul.ftr-nav {
            list-style:none;
            margin:0;
            padding:0;
            float:right;

            @media (max-width:$bp-sm-1) {
                float: none;
            }

            li {
                display:inline;
                margin:0;
                border-left:1px solid black;
                &:first-child {
                    border-left:0px;
                }

                a {
                    margin:0 $offset-1;
                    color:black;
                    font-weight:normal;

                    &:hover {
                        color:$color_hyperlink-text-hover;
                    }
                }
            }
        }
    }
    
}

.page-id-152,
.page-id-1843,
.page-id-1406,
.page-id-1548 {
    div#socket.socket-color {
        a.btn.btn-disc {
            display:none;
        }
    }
}
/* (END) hide add button */

/* [END] #socket */