/* page layout */
.template-page, .sidebar {
    padding-top: $offset-g2;
    padding-bottom: 40px;
    min-height: 1px;
}
.template-page {
    .wrap-content {
        padding-right: $offset-g1;
        @media (max-width:$bp-sm){
            padding-right: 0px;
        }

        .container.amcust_page-title-container {
            h1 {
                margin:0 0 $offset-g1 0;
            }
        }

        .amcust_title-bar-with-button {
            .btn-add-to-page {
                @extend .g_btn-base-border;
                float:right;

                @extend .i-left;

                // > i.fa,
                // i[class^="icon-"] {
                //     margin-right:5px;
                // }
            }
        }
        /* (END) amcust_title-bar-with-button */

    }
}



/* body.home-page */
body.home-page {
    
    section {
        &.breadcrumbs-container {
            display:none;
        }

        .container.amcust_page-title-container {
            display:none;
        }
    }
    
    
}
/* (END) body.home-page */