/* _navbar.scss */

$bp-subnav-mobile: $bp-md-1;

@mixin subnav-item-link() {
    padding:$offset-1 $offset-g1;
    cursor: pointer;
    @media (min-width: $bp-md) {
        text-align: center;
    }
    font-weight: normal;
    border:none;
    color:$color_hdr-subnav;
    background:$color_hdr-subnav-bg;
    border-bottom:1px solid $color_hdr-subnav !important;
    text-transform:uppercase;

    &:hover {
        color:$color_hdr-subnav-hover;
        background:$color_hdr-subnav-bg-hover !important;
    }
}

.subnav-item-a {
    @include subnav-item-link();
}

@mixin subnav-arrow() {
    content:'';
    position:absolute;
    left:50%;
    bottom:0px;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;  
    border-bottom: 5px solid $color_hdr-subnav-bg;
    margin-left:-5px;
}

.navbar {
    @include border-radius(0px);

    .sticky-wrapper {
        .kleo-main-header {
            border-color: $color_breadcrumb-border;

            @media(max-width:$bp-subnav-mobile){
                border-bottom:0px;
                background:$color_accent;
            }

            .container {
                @media(max-width:$bp-subnav-mobile){
                    background:$color_accent;
                }

                > .navbar-header {
                    > .kleo-mobile-switch {
                        > button.navbar-toggle {
                            > span.icon-bar {
                                @media(max-width:$bp-subnav-mobile){
                                    background-color: white;
                                }
                            }
                        }
                    }
                    /* [END] .kleo-mobile-switch */

                    > .logo {
                        > a {
                            @media(max-width:$bp-subnav-mobile){
                                img#logo_img {
                                    // display:none;
                                    content: url("./amadded/assets/img/logo-icon-text-240x60-white.png");
                                }
                            }                        
                        }
                    }
                    /* [END] .logo */
                }
                /* [END] .navbar-header */

                .navbar-collapse {
                    > ul.nav.navbar-nav {
                        background:white;

                        > li {
                            > #ajax_search_container {
                                @media(max-width:$bp-subnav-mobile){
                                    border-bottom: $offset-g1 solid $color_accent;
                                    // padding-left:$offset-g1;
                                    // padding-right:$offset-g1;

                                    form#ajax_searchform {
                                        padding:0;
                                        background:white;
                                        padding:$offset-g1;
                                        
                                        > input.ajax_s {
                                            @include input-base();
                                            margin:0;
                                        }

                                        > .kleo-ajax-search-loading {
                                            top: 25px;
                                            right: 25px;
                                            > i {
                                                color:$color_accent;
                                            }
                                        }
                                    }

                                    .kleo_ajax_results {
                                        h4 {
                                            margin-left:0;
                                            padding:0 $offset-g1;
                                        }
                                        .kleo_ajax_entry {
                                            padding:$offset-1 $offset-g1;
                                        }
                                        a.ajax_view_all {
                                            @include btn-base-border();
                                            // @include btn-md();
                                            margin-top:$offset-g1;
                                            margin-bottom:0;
                                        }
                                    }
                                }
                                /* [END] @media */
                            }
                            /* [END] #ajax_search_container */
                        }
                    }

                    &.in {
                        //padding-bottom:$offset-g1;
                        // -webkit-box-shadow: 0px 2px 0px 0px rgba(0,0,0,1.0);
                        // -moz-box-shadow: 0px 2px 0px 0px rgba(0,0,0,1.0);
                        // box-shadow: 0px 2px 0px 0px rgba(0,0,0,1.0);

                        > ul.nav.navbar-nav {

                            > li {
                                > a {

                                }                            
                            }
                            /* [END] li */
                        }
                        /* [END] ul */
                    }
                }
                /* [END] .navbar-collapse */
                
                .nav > li {        
                    &:hover > a,
                    &.active > a,
                    &.current-menu-parent > a {
                        @include box-shadow(false);
                    }
                }

                ul.navbar-nav {
                    /* underline on header nav active */

                    > li {                

                        > a {                    
                            //color:$color_hdr-nav;
                            margin: 0 $offset-g1;
                            //font-size: $font-size_button;
                            text-transform:uppercase;
                            
                            > span.caret:after,
                            > i.fa,
                            > i[class^="icon-"] {
                                color:inherit;//$color_hdr-nav;
                                @include underline-none();
                            }

                            &:hover {
                                //color:$color_hyperlink-text-hover;//$color_hdr-nav-active;
                            }

                            span.caret:hover:after,
                            i.fa:hover,
                            i[class^="icon-"]:hover {
                                color:$color_hyperlink-text-hover;//$color_hdr-nav-active;
                            }
                        }

                        &.active,
                        &.current-menu-parent {
                            > a {
                                color:$color_hdr-nav-active;

                                @media (min-width : $bp-md) {
                                    &:before {
                                        transition: all 0.5s ease;
                                        content:'';
                                        position: absolute;
                                        width: 70%;
                                        height: 1px;
                                        bottom:25px;
                                        left: 15%;
                                        border-bottom: 3px solid $color_accent;
                                    }
                                }

                            }        
                        }

                        &.open {
                            > ul.dropdown-menu {
                                > li {
                                    border-bottom:0px;

                                    @media (max-width: $bp-md-1){
                                        a {
                                            &:before {
                                                width:$offset-g1;
                                            }
                                        }
                                    }
                                }
                            }                    
                        }

                        @media (min-width: $bp-md){
                            &.open {
                                position:relative;                            

                                &:after {
                                    @include subnav-arrow();
                                }

                                > ul.dropdown-menu {                        
                                    border:none;
                                    width: 200px;
                                    left: 50%;
                                    margin-left: -100px;
                                }                    
                            }

                            ul.dropdown-menu {
                                > li {
                                    > a {
                                        @include subnav-item-link();
                                    }

                                    &.active {
                                        > a {
                                            background:$color_hdr-subnav-bg-hover !important;
                                        }
                                    }
                                }
                            }
                            /* [END] ul.dropdown-menu */
                        }
                        /* [END] @media (min-width:$bp-md) */

                        @media (max-width: $bp-md-1){
                            &.open {
                                //position:static;                            

                                &:after {//pointer at top of subnav (mobile)
                                    //display:none
                                    bottom:auto;
                                    top:33px;
                                    left:$offset-g2;
                                }                   
                            }
                        }
                        /* [END] @media (max-width:$bp-md-1) */
                    }
                    /* [END] li */            
                }
                /* [END] ul.navbar-nav */
            }
            /* [END] .container */
        }
        /* [END] .kleo-main-header */

        &.is-sticky > .kleo-main-header.header-scrolled > .container {
            > .navbar-header {
                @media (min-width:$bp-md){
                    strong.logo {//make logo just icon square
                        width:40px;
                        // height: 50px;
                        overflow: hidden;

                        > a {
                            width: 200px;
                            height: 50px;
                        }
                    }
                }
                /* [END] @media (min-width:$bp-md) */
            }
            > .navbar-collapse > ul.navbar-nav > li {
                &.active,
                &.current-menu-parent {
                     > a:before {
                        bottom: 0px;
                        width:100%;
                        left:0;
                     }
                }                
            }
        }
    }
    /* [END] .sticky-wrapper */    
}
/* [END] navbar */

.logo img {
	height:60px;
	width:auto;

    @media (max-width:$bp-xxs-1){
        height:50px;
    }
}

#header .navbar-nav .dropdown-menu li > a:hover,
#header .navbar-nav .dropdown-menu li > a:focus,
#header .navbar-nav .dropdown-submenu:hover > a,
#header .navbar-nav .dropdown-submenu:focus > a,
#header .navbar-nav .dropdown-menu > .active > a {
    background:$color_priority-bg-hover;
}