/* _navbar.scss */

.subnav-item-a {
    //@extend .g_btn-color-priority;
    padding:$offset-1 $offset-g1;
    cursor: pointer;
    @media (min-width : 992px) {
        text-align: center;
    }
    font-weight: normal;
    border:none;
    color:$color_hdr-subnav;
    background:$color_hdr-subnav-bg;
    border-bottom:1px solid $color_hdr-subnav !important;

    &:hover {
        color:$color_hdr-subnav-hover;
        background:$color_hdr-subnav-bg-hover;
    }
}

.subnav-arrow {
    content:'';
    position:absolute;
    left:50%;
    bottom:0px;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;  
    border-bottom: 5px solid $color_hdr-subnav-bg;
    margin-left:-5px;
}

.navbar {
    .kleo-main-header {
		.container .navbar-collapse.in {
            padding-bottom:$offset-g1;
			// -webkit-box-shadow: 0px 2px 0px 0px rgba(0,0,0,1.0);
            // -moz-box-shadow: 0px 2px 0px 0px rgba(0,0,0,1.0);
            // box-shadow: 0px 2px 0px 0px rgba(0,0,0,1.0);

            > .nav.navbar-nav {
                > li {
                    > a {
                        
                    }
                }
            }
		}
		
        .nav > li {        
            &:hover > a,
            &.active > a {
                box-shadow: none;
            }
        }

        ul.navbar-nav {
            /* underline on header nav active */

            > li {                

                > a {                    
                    //color:$color_hdr-nav;
                    margin: 0 $offset-g1;
                    //font-size: $font-size_button;
                    text-transform:uppercase;
                    
                    > span.caret:after,
                    > i.fa {
                        color:inherit;//$color_hdr-nav;
                        @extend .underline-none;
                    }

                    &:hover {
                        //color:$color_hyperlink-text-hover;//$color_hdr-nav-active;
                    }

                    span.caret:hover:after,
                    i.fa:hover {
                        color:$color_hyperlink-text-hover;//$color_hdr-nav-active;
                    }
                }

                &.active {
                    > a {
                        color:$color_hdr-nav-active;

                        @media (min-width : 992px) {
                            &:before {
                                transition: all 0.5s ease;
                                content: "";
                                position: absolute;
                                width: 60%;
                                height: 1px;
                                bottom:25px;
                                left: 20%;
                                border-bottom: 2px solid $color_accent;
                            }
                        }

                    }        
                }

                &.open {
                    > ul.dropdown-menu {
                        > li {
                            border-bottom:0px;
                        }
                    }                    
                }

                @media (min-width:992px){
                    &.open {
                        position:relative;                            

                        &:after {
                            @extend .subnav-arrow;
                        }

                        > ul.dropdown-menu {                        
                            border:none;
                            width: 200px;
                            left: 50%;
                            margin-left: -100px;

                            > li {

                            }
                        }                    
                    }

                    ul.dropdown-menu {
                        > li {
                            > a {
                                @extend .subnav-item-a;
                            }

                            &.active {
                                > a {
                                    background:$color_hdr-subnav-bg-hover;
                                }
                            }
                        }
                    }
                }
                /* (END) @media (min-width:992px){ */
            }
            /* (END) li */            
        }
        /* (END) .kleo-main-header ul.navbar-nav */
    }
    .is-sticky .kleo-main-header .navbar-nav > li.active > a:before{
        bottom: 0px;
        width:100%;
        left:0;
    }
}
/* (END) navbar */

.logo img {
	height:60px;
	width:auto;
}

#header .navbar-nav .dropdown-menu li > a:hover,
#header .navbar-nav .dropdown-menu li > a:focus,
#header .navbar-nav .dropdown-submenu:hover > a,
#header .navbar-nav .dropdown-submenu:focus > a,
#header .navbar-nav .dropdown-menu > .active > a {
    background:$color_priority-bg-hover;
}