/* _base.scss */

html,
body {
    font-family: $base-font-family;
}

body {
    font-size:$base-font-size;
    color:$base-font-color;
    //line-height:$base-font-line-height;
	background:$color_bg-body;
    border-color:$color_layout-border;

	#main {
		background:$color_bg-body;

        section.container-wrap {
            background:transparent;

            p {
                // font-family: "'Times New Roman', Times,serif";
            }
        }        
	}	
}
/* [END] body */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.display-none {display:none}
.display-block {display:block;}
.display-inline-block {display:inline-block}

.display-table {display:table}
.display-table-row {display:table-row}
.display-table-cell {display:table-cell}

.debug-bs {    
    background:white url(./img/symmetric-grid-bootstrap.png) center center scroll;
    background-size: 100%;

    .debug-bs-col:nth-child(even) {
        background-color: rgba(255, 138, 138, 0.5); 
    }
    .debug-bs-col:nth-child(even) {
        background-color: rgba(0, 191, 38, 0.5);
    }
}

hr {
    display:block;
    width:100%;
    border-top:1px solid $color_layout-border;
}
