/* _mixins-buddypress.scss */

@mixin whats-new-form() {
    background:transparent;// $color_bg-breadcrumb;
    margin:0;
    padding:0;
    border-radius: 5px;
    border:0px;// 1px solid $color_layout-border;

    p.activity-greeting {
        font-style: italic;
        font-weight: bold;
    }

    #whats-new-content {
        margin-bottom:0;

        #whats-new-textarea {
            textarea {
                height:60px;
                background:white;

                &:focus {
                    @include box-shadow-input-focus();        
                }
            }
        }
    }

    #whats-new-options {
        .rtmedia-plupload-container {
            height:auto;

            .rtmedia-add-media-button {
                @include btn-base-border();
                @include btn-md();

                span.dashicons {
                    width:$font-size_button-md;
                    height:$font-size_button-md;

                    &:before {
                        width:$font-size_button-md;
                        height:$font-size_button-md;
                    }
                }
            }
        }
        #whats-new-submit {
            input[type=submit] {
                @include btn-base-border();
                @include btn-md();
                @include btn-color-priority();
            }
        }
    }
    /* [END] #whats-new-options */
}
/* form#whats-new-form */