/* _mixins-buttons.scss */

@mixin btn-sm() {
    font-size:10px;
    @media (max-width:$bp-xs){
        font-size:12px;
    }
    font-weight:normal;
    padding:5px 10px !important;
}

@mixin btn-md() {
    border-width: 3px;
    font-size:$font-size_button-md;
    line-height:$font-size_button-md;
    padding: $offset-g1 $offset-2 !important;
    @include border-radius(25px);
}

@mixin btn-lg() {
    border-width: 3px;
    font-size:$font-size_button-lg;
    line-height:$font-size_button-lg;
    padding: $offset-g1 $offset-g2 !important;
    @include border-radius(30px);
}

@mixin btn-color-priority() {
    color:$color_priority-text;
    background:$color_priority-bg;    
    border-color:$color_priority-border;    

    > span,
    > i {
        color:$color_priority-text;
    }
}

@mixin btn-color-delete() {
    color:$color_danger;   

    > span,
    > i {
        color:$color_danger;
    }
}

@mixin underline-none() {
    text-decoration:none !important;

    > i.fa,
    > i[class^="icon-"] {
        text-decoration:none !important;

        &:before {
            text-decoration:none !important;
        }
    }
}