/* _buddypress-overrule.scss */

#main .template-page.tpl-right {
    .wrap-content {
        @media (min-width:$bp-sm){
            // padding-right:$offset-g1;
        }

        #buddypress {
            form#whats-new-form {
                @include whats-new-form();
            }
            /* form#whats-new-form */

            .activity {
                ul.activity-list {
                    > li.activity-item {
                        
                        .activity-content {                    

                            .activity-meta {
                                padding-bottom: $offset-g2;

                                > a.button:not(.fav) {
                                    @include btn-base-border();

                                    &.delete-activity {
                                        color:$color_danger !important;
                                    }
                                }

                                > a.button.fav {
                                    @extend .g_hyperlink-base;
                                    text-decoration:none !important;
                                    font-size:$font-size_button-md;
                                    line-height:$font-size_button-line-height-md;

                                    &:before {
                                        text-decoration:none !important;
                                    }
                                }

                            }
                        }
                        /* [END] .activity-content */ 

                    }
                }
            }
        }
        /* [END] #buddypress */


        .item-list-tabs {

        }  
        
    }
}

.textwidget,
.article-content,
.activity-content,
.archive-description {

    p {

        &:first-child {
            margin-top:0;
        }

        a {
            // font-weight:normal;
            //text-decoration:underline;
            //border-bottom: 1px solid #dcdcdc;

            &:hover {
                //font-weight:bold;
                //text-decoration:none;
            }
        }
    }

}