/* _button-variables.scss */

$font-size_button:12px;
$font-size_button-line-height:12px;

$font-size_button-md:16px;
$font-size_button-line-height-md:16px;

$font-size_button-lg:24px;
$font-size_button-line-height-lg:24px;