/* _form.scss */

.span-check {
    &:before {
        @extend .fa-dummy;
        color:$color_primary;
        margin:0 $offset-0-5 0 0;
    }

    &.strong {
        font-weight:bold;
        color:black;
    }
}