/* _typography.scss */

b, strong, .strong {
    font-weight: bold;
    color:black;
}

.line-through {
    text-decoration: line-through;
}

.text-align-center {
    text-align:center;
}

.fmt-uppercase {
    text-transform: uppercase;
}

.fmt-trim-string {@include trim-string();}
.snippet:after,.snippetWrap p:after {content:'...';}