/* _typography.scss */

h1, .h1, h2, .h2, h3, .h3 {

}

h1,.h1 {
    // margin-top:0;
    // margin-bottom:0;
}

p,.pTag {
    font-size:$base-font-size;
    color:$base-font-color;
    // line-height:$base-font-line-height;
    margin-bottom:$offset-2;
}

b, strong, .strong {
    font-weight: bold;
    color:black;
}

.underline {
    text-decoration:underline;
}

.underline-none {
    text-decoration:none !important;
    > i.fa:before {
        text-decoration:none !important;
    }
}

.line-through {
    text-decoration: line-through;
}

.text-align-center {
    text-align:center;
}

.fmt-uppercase {
    text-transform: uppercase;
}

.fmt-trim-string {@include trim-string();}
.snippet:after,.snippetWrap p:after {content:'...';}