/* _typography-resp.scss */

// .jumbotron h1,.jumbotron .h1 {
//     font-weight:800;
//     color:black;
// }

// h1,.h1,
// h2,.h2,
// h3,.h3,
// h4,.h4 {
//     font-weight:bold;
//     color:black;
// }

// h5,.h5 {
//     font-weight:normal;
//     color:black;
// }

// h1,.h1,.jumbotron h1,.jumbotron .h1 {
//     font-size:72px;
//     line-height:90px;
// }

// h2,.h2 {
//     font-size:48px;
//     line-height:60px;
// }

// h3,.h3 {
//     font-size:24px;
//     line-height:$offset-g2;
//     font-weight: 800;
// }

// h4,.h4 {
//     font-size:20px;
//     line-height:$offset-g2;
// }

// h5,.h5 {
//     font-size:20px;
//     line-height:$offset-g2;
// }

/* S & XS */
@media all and (max-width: $bp-sm-1) {
    h1,.h1,.jumbotron h1,.jumbotron .h1 {
        font-size:28px;
        line-height:30px;
    }

    h2,.h2 {
        font-size:26px;
        line-height:30px;
    }
}
