/* _typography-hyperlink.scss */

.underline {
    text-decoration:underline;
}

.g_hyperlink-base {
    color:$color_hyperlink-text;
    > span {
        color:$color_hyperlink-text;
    }
    
    @extend .g_hyperlink-base-hover;

    &[target^="blank"] {

    }
}

.g_hyperlink-base-hover {
    &:hover {
        color:$color_hyperlink-text-hover;
        text-decoration:underline;

        &:before,
        > i,
        > span {
            color:$color_hyperlink-text-hover;
        }
    }
}