/* _typography.scss */

#main {
    h1, h2, h3, h4, h5, h6 {
        color:black;
        font-family: "Open Sans", Arial, Helvetica, sans-serif;
    }

    p {
        font-size:$base-font-size;
        color:$base-font-color;
        line-height:$base-font-line-height;
    }

    h1 {
        font-size: 48px;
        line-height: 60px;
        font-weight: 700; 
    }

    h2 {
        font-size: 36px;
        line-height: 42px;
        font-weight: 400;
    }

    h3, .h3 {
        font-size: 24px;
        line-height: 30px;
        font-weight: 700;
    }

    h4 {
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;
    }

    h5 {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
    }

    h6 {
        background: black;
        color: white !important;
        padding: 0 5px;
        // display: inline-block;
        font-weight: bold;
    }

    b, strong, .strong {
        font-weight: bold;
        color:black;
    }

    .line-through {
        text-decoration: line-through;
    }

    .text-align-center {
        text-align:center;
    }

    .fmt-uppercase {
        text-transform: uppercase;
    }

    .fmt-trim-string {
        @include trim-string();
    }
    .snippet:after,.snippetWrap p:after {
        content:'...';
    }

    
}

.hide-text {
    color: transparent !important;
    font-size:0px !important;
}